.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  user-select: none;
}

h1 {
  color: #333;
}

.dataContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: inline-block;
  width: 45%;
  margin: 10px;
  vertical-align: top;
}

p {
  margin: 10px 0;
  font-size: 18px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

strong {
  color: #333;
}